{% extends 'layouts/base.html' %}    
{% load static %}
{% block content %}

<div class="contact-container">
    <h1 class="contact-title">CONTACT US!</h1>
        <a class="contact-img" href="https://www.instagram.com/marshallsguestlist/" target="_blank">
            <img src="{% static 'img/contact/instagram.png' %}" alt="Instagram">
        </a>
        <a class="contact-img" href="https://wa.me/34683427532" target="_blank">
            <img src="{% static 'img/contact/whatsapp.png' %}" alt="Whatsapp">
        </a>
        <a class="contact-img-correo" href="#" target="_blank">
            <img src="{% static 'img/contact/correo.png' %}" alt="Correo">
        </a>



</div>

{% endblock %}

