{% extends 'layouts/base.html' %}    

{% block content %}

<div class="main-cookies">
    <h1>Política de Cookies</h1>
  
    <p>En [nombre de tu sitio web] utilizamos cookies para mejorar tu experiencia en nuestro sitio web y para analizar el tráfico de nuestros servicios.</p>
    
    <h1>¿Qué son las cookies?</h1>
    <p>Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo cuando visitas un sitio web. Ayudan a recordar tus preferencias y a mejorar la funcionalidad del sitio.</p>
    
    <h1>Tipos de cookies que utilizamos</h1>
    <ul>
        <li><strong>Cookies necesarias:</strong> Son esenciales para que el sitio web funcione correctamente.</li>
        <li><strong>Cookies de rendimiento:</strong> Ayudan a analizar el comportamiento del usuario para mejorar el rendimiento del sitio web.</li>
        <li><strong>Cookies de funcionalidad:</strong> Permiten recordar las preferencias del usuario para ofrecer una experiencia personalizada.</li>
        <li><strong>Cookies de publicidad:</strong> Utilizamos estas cookies para mostrar anuncios personalizados y gestionar las campañas publicitarias.</li>
    </ul>
    
    <h1>Cómo gestionar las cookies</h1>
    <p>Si deseas, puedes desactivar las cookies en cualquier momento a través de la configuración de tu navegador. Ten en cuenta que desactivar las cookies podría afectar la funcionalidad de algunas partes de nuestro sitio.</p>
    
    <h1>Más información</h1>
    <p>Para obtener más detalles sobre cómo gestionamos la información personal, consulta nuestra <a href="/politica-de-privacidad">Política de Privacidad</a>.</p>
    <br>
    <p>Si tienes alguna pregunta o inquietud acerca de nuestra política de cookies, no dudes en contactarnos.</p>

</div>

{% endblock %}