{% extends 'layouts/base.html' %}    
{% load static %}
{% block content %}

<!-- CORREGIR CUANDO SELECCIONO UN DIA, 'EVENTS ON FRIDAY' Y APARECEN LOS CLUBES PERO CON LOS EVENTOS DE HOY-->

<h1 class="party-today">{{title}}</h1>

<div class="party-today-container">
<article class="card">
    <img src="{% static 'img/pachapng.png' %}" class="card-img" alt="Shoko" id="pacha-img">
        <div class="card-content">
            <div class="card-text">
               FREE ENTRANCE WITH MARSHALL'S LIST 
            </div>
            <div class="button-join">
                <button class="join">
                    <a href="{% url 'pacha' %}">GET IN!</a>
                </button>
            </div>
        </div>
</article>

<article class="card">
    <img src="{% static 'img/shoko.png' %}" class="card-img" alt="Shoko">
        <div class="card-content">
            <div class="card-text">
                FREE ENTRANCE WITH MARSHALL'S LIST
             </div>
             <div class="button-join">
                <button class="join">
                    <a href="{% url 'shoko' %}">GET IN!</a>
                </button>
            </div>
        </div>
</article>

<article class="card">
    <img src="{% static 'img/opium.png' %}" class="card-img" alt="Opium" id="img-opium">
        <div class="card-content">
            <div class="card-text">
                FREE ENTRANCE WITH MARSHALL'S LIST
             </div>
             <div class="button-join">
                <button class="join">
                    <a href="{% url 'opium' %}">GET IN!</a>
                </button>
            </div>
        </div>
</article>


{% if day == 'thursday' or day == 'friday'  or day == 'saturday' %} 

<article class="card">
    <img src="{% static 'img/downtown.png' %}" class="card-img" alt="Downtown" id="img-dwnt">
        <div class="card-content">
            <div class="card-text">
                FREE ENTRANCE WITH MARSHALL'S LIST
             </div>
             <div class="button-join">
                <button class="join">
                    <a href="{% url 'downtown' %}">GET IN!</a>
                </button>
            </div>
        </div>
</article>

<article class="card">
    <img src="{% static 'img/elcinco.png' %}" class="card-img" alt="El Cinco">
        <div class="card-content">
            <div class="card-text">
                FREE ENTRANCE WITH MARSHALL'S LIST
             </div>
             <div class="button-join">
                <button class="join">
                    <a href="{% url 'elcinco' %}">GET IN!</a>
                </button>
            </div>
        </div>
</article>

<article class="card">
    <img src="{% static 'img/labiblio.png' %}" class="card-img" alt="La Biblio">
        <div class="card-content">
            <div class="card-text">
                FREE ENTRANCE WITH MARSHALL'S LIST
             </div>
             <div class="button-join">
                <button class="join">
                    <a href="{% url 'biblio' %}">GET IN!</a>
                </button>
            </div>
        </div>
</article>
{% endif %}
</div>
<div class="by-date">
    <button class="by-date-button">
        <div>OTHER DATES +</div>
    </button>   
    <ul class="by-date-list">
        <li>
            <a href="{% url 'date' 'sunday' %}">Sunday</a>
        </li>
        <li>
            <a href="{% url 'date' 'monday' %}">Monday</a>
        </li>
        <li>
            <a href="{% url 'date' 'tuesday' %}">Tuesday</a>
        </li>
        <li>
            <a href="{% url 'date' 'wednesday' %}">Wednesday</a>
        </li>
        <li>
            <a href="{% url 'date' 'thursday' %}">Thursday</a>
        </li>
        <li>
            <a href="{% url 'date' 'friday' %}">Friday</a>
        </li>
        <li>
            <a href="{% url 'date' 'saturday' %}">Saturday</a>
        </li>
    </ul>

{% endblock %}

