{% extends 'layouts/base.html' %}   
{% load static %} 

{% block content %}

<div class="main-index">

    <div class="reel">
        <button class="prev">&lt;</button>
        <div class="carousel">
            <div class="carousel-track">
                <div class="pic"><img src="{% static 'img/pachareel.jpg' %}" alt="Pacha"></div>
                <div class="pic"><img src="{% static 'img/shokoreel.jpg' %}" alt="Shoko"></div>
                <div class="pic"><img src="{% static 'img/opiumreel.jpg' %}" alt="Opium"></div>
                <div class="pic"><img src="{% static 'img/downtownreel.jpg' %}" alt="Downtown"></div>
            </div>
            
        </div>
        <button class="next">&gt;</button>
        <div class="reel-text">FREE LIST FOR<br> THE BESTS CLUBS IN BARCELONA</div>
    </div>

    

    <div class="date">
        <button class="date-text-button" aria-label="Toggle navigation">
            <div class="date-text"></div>
        </button>   
        <ul class="date-list">
            <li>
                <a href="">Sunday</a>
            </li>
            <li>
                <a href="">Monday</a>
            </li>
            <li>
                <a href="">Tuesday</a>
            </li>
            <li>
                <a href="">Wednesday</a>
            </li>
            <li>
                <a href="">Thursday</a>
            </li>
            <li>
                <a href="">Friday</a>
            </li>
            <li>
                <a href="">Saturday</a>
            </li>
        </ul>
    </div>

    
    
<article class="card">
        <img src="{% static 'img/pachapng.png' %}" class="card-img" alt="Shoko" id="pacha-img">
            <div class="card-content">
                <div class="card-text">
                   FREE ENTRANCE WITH MARSHALL'S LIST 
                </div>
                <div class="button-join">
                    <button class="join">
                        <a href="{% url 'pacha' %}">GET IN!</a>
                    </button>
                </div>
            </div>
    </article>

    <article class="card">
        <img src="{% static 'img/shoko.png' %}" class="card-img" alt="Shoko">
            <div class="card-content">
                <div class="card-text">
                    FREE ENTRANCE WITH MARSHALL'S LIST
                 </div>
                 <div class="button-join">
                    <button class="join">
                        <a href="{% url 'shoko' %}">GET IN!</a>
                    </button>
                </div>
            </div>
    </article>

    <article class="card">
        <img src="{% static 'img/opium.png' %}" class="card-img" alt="Opium" id="img-opium">
            <div class="card-content">
                <div class="card-text">
                    FREE ENTRANCE WITH MARSHALL'S LIST
                 </div>
                 <div class="button-join">
                    <button class="join">
                        <a href="{% url 'opium' %}">GET IN!</a>
                    </button>
                </div>
            </div>
    </article>
{% if today == 'thursday' or today == 'friday'  or today == 'saturday' %} 
    <article class="card">
        <img src="{% static 'img/downtown.png' %}" class="card-img" alt="Downtown" id="img-dwnt">
            <div class="card-content">
                <div class="card-text">
                    FREE ENTRANCE WITH MARSHALL'S LIST
                 </div>
                 <div class="button-join">
                    <button class="join">
                        <a href="{% url 'downtown' %}">GET IN!</a>
                    </button>
                </div>
            </div>
    </article>

    <article class="card">
        <img src="{% static 'img/elcinco.png' %}" class="card-img" alt="El Cinco">
            <div class="card-content">
                <div class="card-text">
                    FREE ENTRANCE WITH MARSHALL'S LIST
                 </div>
                 <div class="button-join">
                    <button class="join">
                        <a href="{% url 'elcinco' %}">GET IN!</a>
                    </button>
                </div>
            </div>
    </article>

    <article class="card">
        <img src="{% static 'img/labiblio.png' %}" class="card-img" alt="La Biblio">
            <div class="card-content">
                <div class="card-text">
                    FREE ENTRANCE WITH MARSHALL'S LIST
                 </div>
                 <div class="button-join">
                    <button class="join">
                        <a href="{% url 'biblio' %}">GET IN!</a>
                    </button>
                </div>
            </div>
    </article>
{% endif %}
    
    <div class="by-date">
        <button class="by-date-button">
            SELECT DAY +
        </button>   
        <ul class="by-date-list">
            <li>
                <a href="">Sunday</a>
            </li>
            <li>
                <a href="">Monday</a>
            </li>
            <li>
                <a href="">Tuesday</a>
            </li>
            <li>
                <a href="">Wednesday</a>
            </li>
            <li>
                <a href="">Thursday</a>
            </li>
            <li>
                <a href="">Friday</a>
            </li>
            <li>
                <a href="">Saturday</a>
            </li>
        </ul>
    </div>

    

</div>

{% endblock %}

