{% extends 'layouts/base.html' %}   
{% load static %} 

{% block content %}

<div class="main-index">
    <div class="date">
        <p class="date-text"></p>
    </div>

    <article class="card">
        <img src="{% static 'img/pacha.jpg' %}" class="card-img" alt="Shoko">
            <div class="card-content">
                <div class="card-text">
                   Free Entrance <br>
                   Music: R&B / House<br>
                   Schedule: 0.00h – 5.30h<br>
                   Age: +18<br>
                </div>
                <div class="button-join">
                    <button class="join">PACHA <br>GUEST LIST</button>
                </div>
            </div>
    </article>

    <article class="card">
        <img src="{% static 'img/shoko.jpg' %}" class="card-img" alt="Pacha">
            <div class="card-content">
                <div class="card-text">
                    Free Entrance <br>
                    Music: R&B / House<br>
                    Schedule: 0.00h – 5.30h<br>
                    Age: +18<br>
                 </div>
                <div class="button-join">
                    <button class="join">SHOKO <br>GUEST LIST</button>
                </div>
            </div>
    </article>

    <article class="card">
        <img src="{% static 'img/opium2.jpg' %}" class="card-img" alt="Opium">
            <div class="card-content">
                <div class="card-text">
                    Free Entrance <br>
                    Music: R&B / House<br>
                    Schedule: 0.00h – 5.30h<br>
                    Age: +18<br>
                 </div>
                <div class="button-join">
                    <button class="join">OPIUM <br>GUEST LIST</button>
                </div>
            </div>
    </article>

    <article class="card">
        <img src="{% static 'img/downtown3.jpg' %}" class="card-img" alt="Shoko">
            <div class="card-content">
                <div class="card-text">
                    Free Entrance <br>
                    Music: R&B / House<br>
                    Schedule: 0.00h – 5.30h<br>
                    Age: +18<br>
                 </div>
                <div class="button-join">
                    <button class="join">DOWNTOWN <br>GUEST LIST</button>
                </div>
            </div>
    </article>

    <article class="card">
        <img src="{% static 'img/elcinco2.jpg' %}" class="card-img" alt="Shoko">
            <div class="card-content">
                <div class="card-text">
                    Free Entrance <br>
                    Music: R&B / House<br>
                    Schedule: 0.00h – 5.30h<br>
                    Age: +18<br>
                 </div>
                <div class="button-join">
                    <button class="join">ELCINCO <br>GUEST LIST</button>
                </div>
            </div>
    </article>

    <article class="card">
        <img src="{% static 'img/biblio.jpg' %}" class="card-img" alt="Shoko">
            <div class="card-content">
                <div class="card-text">
                    Free Entrance <br>
                    Music: R&B / House<br>
                    Schedule: 0.00h – 5.30h<br>
                    Age: +18<br>
                 </div>
                <div class="button-join">
                    <button class="join">LA BIBLIO <br>GUEST LIST</button>
                </div>
            </div>
    </article>

    <article class="by-date">
        <a href="#">OR SELECT BY DATE</a>

    </article>

    

</div>

{% endblock %}

