{% extends 'layouts/base.html' %}    
{% load static %}
{% block content %}


<div class="img-title-club">
    <img src="{% static 'img/downtown.png' %}" alt="Downtown">
</div>

<div class="date-disco">
    <p class="date-today"></p>
</div>

<h1 class="day-title">TODAY</h1>

<p class="day-description">
    {{ party_today|linebreaksbr }}
</p>

<div class="img-club">
    <img src="{% static 'img/downtownreel.jpg' %}" alt="Downtown">
</div>

<div class="event-description">
    <span class="details"><strong>EVENT INFO:</strong></span>
    <span class="details"><strong>Free Entrance</strong></span>

    <span class="details"><strong><u>Schedule</u></strong>: 0.00h - 5.30h</span>
    <span class="details"><strong><u>Age</u></strong>: +18</span>
    <span class="details"><strong><u>Club capacity</u></strong>: 500</span>
    <span class="details"><strong><u>How to get there</u></strong>: Metro stop: L5 Blue (Ernest Lluch) - L3 Green (Z. Universitaria)</span>
    <span class="details"><strong><u>Dresscode</u></strong>: Casual & elegant</span>
</div>

<p class="address">
    Av. Dr. Marañón, 17 - Barcelona<br>
    <a href="https://maps.app.goo.gl/9ecKWikrVgNs63mR6" target="_blank">SEE MAP</a>
</p>

{% if party_today == True %}
<div class="register-party">
    <button class="button-register-party">
        <a href="https://www.fourvenues.com/es/marshalls-list?fbclid=PAZXh0bgNhZW0CMTEAAabgyTv-w0DHhYb6akrE5CE_boJMIOhU7cTitoaYy7nYo9DGOipiOFfS6kk_aem_61fOt7tHwzfcd7iqir6xmg" target="_blank">JOIN!</a>
    </button>
</div>
{% endif %}

<div class="by-date">
    <button class="by-date-button">
        <div>SELECT DAY +</div>
    </button>   
    <ul class="by-date-list">
        <li>
            <a href="{% url 'date' 'thursday' %}">Thursday</a>
        </li>
        <li>
            <a href="{% url 'date' 'friday' %}">Friday</a>
        </li>
        <li>
            <a href="{% url 'date' 'saturday' %}">Saturday</a>
        </li>
        
    </ul>
</div>


{% endblock %}

