{% extends 'layouts/base.html' %}    
{% load static %}
{% block content %}


<div class="img-title-club">
    <img src="{% static 'img/opium.png' %}" alt="Opium">
</div>

<div class="date-disco">
    <p class="date-today"></p>
</div>

<h1 class="day-title">TODAY</h1>

<p class="day-description">
    {{ party_today|linebreaksbr }}
</p>

<div class="img-club">
    <img src="{% static 'img/opiumreel.jpg' %}" alt="Opium">
</div>

<div class="event-description">
    <span class="details"><strong>EVENT INFO:</strong></span>
    <span class="details"><strong>Free Entrance</strong></span>

    <span class="details"><strong><u>Schedule</u></strong>: 23.30h - 5.00h</span>
    <span class="details"><strong><u>Age</u></strong>: +18</span>
    <span class="details"><strong><u>Club capacity</u></strong>: 500</span>
    <span class="details"><strong><u>How to get there</u></strong>: Metro stop: L4 Yellow (Villa Olimpica)</span>
    <span class="details"><strong><u>Dresscode</u></strong>: Elegant</span>
</div>



<p class="direction">
    Paseo de la Barceloneta 08003 - Barcelona<br>
    <a href="https://maps.app.goo.gl/UAckM6FjT8ezfvcDA" target="_blank">SEE MAP</a>
</p>


<div class="register-party">
    <button class="button-register-party">
        <a href="https://www.fourvenues.com/es/marshalls-list?fbclid=PAZXh0bgNhZW0CMTEAAabgyTv-w0DHhYb6akrE5CE_boJMIOhU7cTitoaYy7nYo9DGOipiOFfS6kk_aem_61fOt7tHwzfcd7iqir6xmg" target="_blank">JOIN!</a>
    </button>
</div>

<article class="other-dates">
    <a href="#">OTHER DATES +</a>

</article>



{% endblock %}



