<!DOCTYPE html>
<html lang="es">
<head>
    
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cookieconsent@3.1.0/build/cookieconsent.min.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Familjen+Grotesk:wght@400..700&family=Genos:wght@100..900&family=Goldman:wght@400;700&family=Raleway:wght@100..900&family=Rowdies:wght@300&family=Sarabun:wght@100..800&family=Zen+Dots&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>
<body>

    <div class="main-container">
        <header class="header">
            <div class="rrss">
                <a href="https://www.instagram.com/marshallsguestlist" target="_blank" aria-label="Instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://chat.whatsapp.com/IDqL7w4feTq5ZUtW8GEI15" target="_blank" aria-label="Whatsapp">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
                
            </div>
            <nav class="navbar">
                <button class="menu-toggle" aria-label="Toggle navigation">
                    <p>☰</p>
                </button>
                <ul class="nav-links">
                    <li>
                        <a href="{% url 'index' %}">HOME</a>
                    </li>

                    <li>
                        <a href="{% url 'nightclubs' %}">NIGHTCLUBS</a>
                    </li>
                    <!--          
                    <li>
                        <a href="{% url 'photos' %}">PHOTOS</a>
                    </li>
                    -->  
                    <li>
                        <a href="{% url 'contact' %}">CONTACT US</a>
                    </li>
                    
                </ul>
            </nav>
            {% if request.path != '/' %}
                <button class="back" onclick="window.history.back();">
                    <i class="fa-solid fa-arrow-left"></i>
                </button>
            
            {% endif %}
        </header>
        <div class="main-content">
            {% block content %}

            {% endblock %}
        </div>

    <footer class="footer">
        <div class="footer-you">
            <p>En colaboración con: </p>
            <img src="{% static 'img/you.jpg' %}" alt="You">
        </div>  

        <div class="footer-text-rights">
            <p><a href="#">Privacy Policy</a> - Copyright. All rights reserved. 2024
            </p>
        </div>     
    </footer>
</div>

<a class="ia" href="https://chatgpt.com/g/g-673bab86821c81918f82c685119ee8ac-clubbing-barcelona" target="blank">
    <i class="fa-solid fa-question"></i>
    <h1 class="help-bot">PARTY<br>BOT</h1>
</a> 

<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3.1.0/build/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function(){
            window.cookieconsent.initialise({
                "palette": {
                    "popup": { "background": "#222" },
                    "button": { "background": "#f1d600" }
                },
                "theme": "classic",
                "content": {
                    "message": "Este sitio usa cookies para mejorar la experiencia.",
                    "dismiss": "Aceptar",
                    "link": "Más información",
                    "href": "/cookies"
                }
            });
        });
    </script>

<script src="{% static 'js/script.js' %}" defer></script>
</body>
</html>