{% extends 'layouts/base.html' %}    

{% block content %}

<div class="main-cookies">
    <h1>Cookies Policy</h1>
  
    <p>At Glow Up, we use cookies to enhance your experience on our website and to analyze traffic on our services.</p>

    <h1>What are cookies?</h1>
    <p>Cookies are small text files stored on your device when you visit a website. They help remember your preferences and improve the site's functionality.</p>

    <h1>Types of cookies we use</h1>
    <ul>
        <li><strong>Necessary cookies:</strong> Essential for the proper functioning of the website.</li>
        <li><strong>Performance cookies:</strong> Help analyze user behavior to improve website performance.</li>
        <li><strong>Functionality cookies:</strong> Allow us to remember user preferences to offer a personalized experience.</li>
        <li><strong>Advertising cookies:</strong> Used to display personalized ads and manage advertising campaigns.</li>
    </ul>

    <h1>How to manage cookies</h1>
    <p>If you wish, you can disable cookies at any time through your browser settings. Please note that disabling cookies may affect the functionality of some parts of our site.</p>

    <h1>More information</h1>
    <p>For more details on how we manage personal information, please refer to our <a href="/politica-de-privacidad">Privacy Policy</a>.</p>
    <br>
    <p>If you have any questions or concerns about our cookie policy, feel free to contact us.</p>

</div>

{% endblock %}